::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #212327;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(221.2, 83.2%, 53.3%);
}


.top {
  top: 11px !important;
}